.App {
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center; /* Center items horizontally */
  padding: 20px;
}

button {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

  background-color: #007bff;
  color: white;
  border: 1px solid #007bff;
  padding: 10px 20px;
  font-size: 17px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.custom-file-upload {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #007bff;
  color: white;
  border: black;
  padding: 10px 20px;
  font-size: 17px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.custom-file-upload:hover {
  background-color: #0056b3;
}

.custom-file-upload input[type="file"] {
  display: none;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  color: #999;
  border-color: #ccc;
}

.container {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  background-color: #f0f0f0;
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
