.App {
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

button {
  background-color: #007bff;
  color: white;
  border: black;
  padding: 10px 20px;
  font-size: 17px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.custom-file-upload {
  background-color: #007bff;
  color: white;
  border: black;
  padding: 10px 20px;
  font-size: 17px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.custom-file-upload:hover {
  background-color: #0056b3;
}

.custom-file-upload input[type="file"] {
  display: none;
}
